:root {
  --text-primary: rgba(51, 51, 51, 0.8);
  --text-secondary: #333333;
  --input-fade-bg: #f7f7f9;
  --goldish: #ffbe46;
  --goldish-light: #ffdea1;
  --white: #ffffff;
  --fade: #ccc;
  --fade-secondary: #eaecef;
  --main-bg: #fcfffb;
  --border-radius-mini: 5px;
  --full: 100%;
  --wrapper-max-width: 1200px;
  --wrapper-min-width: 240px;
  --box-shadow: 0 0 24px rgba(32, 33, 36, 0.1);
}
